## Medication Plan:

### Endpoint:
```json
POST patient={patientId}/medicationPlanId={medicationPlanId}

{
  "medication": "",
  "dosage": "",
  "instructions": "",
  "scheduleTimes": ["15:00:00", "17:00:00"],
  "endsAt": {
    "date": "2024-11-10",
    "indefinite": false
  }
}
```

# Backend endsAt Handler:
Check if any medication plans have ended before providing to the endpoint by checking the endsAt date or indefinite. indefinite should be false as default.
  
# Endpoints:
GET `/patient={patientId}/medicationPlan/Date={dateOfShowcase}`

Example Output:
```json
[
  {
    "scheduleTime": "6:00:00",
    "administeredBy": {
      "id": "...",
      // ...
    },
    "medication": {
      "name": "",
      "dosage": ""
    }
  },
  {
    "scheduleTime": "6:00:00",
    "administeredBy": {
      "id": "...",
      // ...
    },
    "medication": {
      "name": "",
      "dosage": ""
    }
  },
  // ...
]
```


GET `/patient={patientId}/medicationPlan/Date={dateOfShowcase}`:

example output:Â 

```json
[
  {
    "medicationId",
    "scheduleTimes",
    "dosage",
    "description",
    "administered": true/false
  },
  ...
]
```

In [1]:
SELECT TOP (1000) [id]
      ,[first_name]
      ,[last_name]
      ,[role]
  FROM [MedicationDB].[dbo].[user_table]

id,first_name,last_name,role
1,Admin,Admin,Administrator
2,Annelie,Smith,Nurse

In [1]:
SELECT TOP (1000) [id]
      ,[first_name]
      ,[last_name]
      ,[bed_number]
  FROM [MedicationDB].[dbo].[patient_table]

id,first_name,last_name,bed_number
1,John,Doe,101
2,Jane,Smith,102

In [2]:
SELECT TOP (1000) [id]
      ,[name]
  FROM [MedicationDB].[dbo].[medication_table]

id,name
1,Medication A
2,Medication B

In [6]:
SELECT TOP (1000) [id]
      ,[patient_id]
      ,[medication_id]
      ,[dosage]
      ,[instructions]
      ,[starts_at]
      ,[ends_at]
      ,[alternative]
  FROM [MedicationDB].[dbo].[medication_schedule_table]

id,patient_id,medication_id,dosage,instructions,starts_at,ends_at,alternative
1,1,1,10mg,Take with water,2023-01-01,2024-11-10,NULL
2,2,2,5mg,Take before meals,2023-01-01,2024-12-15,"{""alternative_info"": ""Some alternative information""}"

In [4]:
SELECT TOP (1000) [id]
      ,[medication_schedule_id]
      ,[time]
  FROM [MedicationDB].[dbo].[medication_schedule_times_table]

id,medication_schedule_id,time
1,1,08:00:00
2,1,12:00:00
3,2,09:30:00

In [7]:
SELECT TOP (1000) [id]
      ,[administered_date_time]
      ,[medication_schedule_times_id]
      ,[administered_by_user_id]
  FROM [MedicationDB].[dbo].[medication_administration_table]

id,administered_date_time,medication_schedule_times_id,administered_by_user_id
1,2024-11-10 08:30:00.000,1,2
2,2024-12-15 10:00:00.000,3,1

In [14]:
-- GET /patient={patientId}/medicationPlan/Date={dateOfShowcase}:

USE MedicationDB;
SELECT
  pt.id AS patient_id,
  st.starts_at AS schedule_start_date,
  --   pt.first_name AS patient_first_name,
  --   pt.last_name AS patient_last_name,
  --   st.id AS schedule_id,
  st.ends_at AS schedule_end_date,
  st.dosage AS medication_dosage,
  st.instructions AS instructions,
  mstt.time AS schedule_time,
  ma.administered_by_user_id,
  mt.name AS medication_name

FROM
  patient_table pt
  INNER JOIN medication_schedule_table st ON pt.id = st.patient_id
  INNER JOIN medication_schedule_times_table mstt ON st.id = mstt.medication_schedule_id
  LEFT JOIN medication_administration_table ma ON mstt.id = ma.medication_schedule_times_id
  INNER JOIN medication_table mt ON st.medication_id = mt.id
WHERE
  pt.id = 1
  AND (
    ('2023-01-01' BETWEEN st.starts_at AND st.ends_at)
    OR ('2023-01-01' >= st.starts_at AND st.ends_at IS NULL)
  );

patient_id,schedule_start_date,schedule_end_date,medication_dosage,instructions,schedule_time,administered_by_user_id,medication_name
1,2023-01-01,2024-11-10,10mg,Take with water,08:00:00,2,Medication A
1,2023-01-01,2024-11-10,10mg,Take with water,12:00:00,NULL,Medication A